// Footer styles.

#site-footer {
  background-color: rgba($color-prim, 0.7);
  border-top: 1px solid black(0.4);
}

#site-footer {
  h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: lighten($color-twitter, 10%);

    &:before {
      content: "T";
      font: 90%/1 zocial;
      font-style: normal;
      font-weight: normal;
      margin-right: 10px;
    }
  }

  #twitter-profile-pic {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: white(0.1);
    margin-top: 15px;
    margin-right: 30px;
    width: 64px;
    height: 64px;
    display: inline-block;
    vertical-align: top;
  }

  #tweets {
    display: inline-block;
    margin-top: 15px;
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: -7px;
      width: 2px;
      height: 64px;
      background-color: lighten($color-sec, 20%);
      content: "";
    }

    .spinner {
      margin: 30px auto;
    }

    .tweet {
      vertical-align: top;
      display: inline-block;
      width: (430px - 50px)/ 2;
      margin-left: 20px;
      text-decoration: none;
      &:active {
        margin-top: 1px;
      }

      aside {
        font-size: 12px;
        font-weight: bold;
        color: lighten($color-sec, 20%);
      }
      p {
        font-size: 14px;
        margin: 5px 0;
        color: white(0.7);
      }
    }
  }
}

#rss {
  text-decoration: none;
  color: white(0.8);
  &:before {
    font: 110%/1.35 zocial;
    font-style: normal;
    font-weight: normal;
    content: "R";
  }

  span {
    position: relative;
    left: 0;
    @include opacity(0);
    @include transition-property(opacity left);
    @include transition-duration(0.2s, 0.2s);
    @include transition-timing-function(linear, linear);
  }
  &:hover {
    span {
      left: 40px;
      @include opacity(1);
    }
  }
  &:active {
    color: rgba($color-rss, 0.8);
  }
}

#site-footer {
  .copyright {
    font-size: 14px;
    font-weight: 300;
    color: white(0.7);
    letter-spacing: 1px;
    margin: 20px 0 30px;
  }
}

