// Header styles.

#site-header {
  background-color: rgba($color-prim, 0.5);
  border-bottom: 1px solid black(0.5);
}

#site-title {
  font-family: $font-titles;
  text-transform: uppercase;

  .name, .description {
    font-size: 28px;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: black(1);
  }
  .name {
    font-weight: 400;
    padding-right: 10px;
  }
  .description {
    font-weight: 300;
    padding-left: 10px;
  }

  .title-separator {
    height: 16px;
    top: -2px;
    background-color: rgba($color-sec, 0.8);
  }
}

#site-title-link {
  text-decoration: none;
}

