// Home page styles.

.articles {
  margin-top: 45px;

  $post-width: $alpha-width - 70px;
  $post-height: 180px;
  $post-padding-x: 15px;
  $post-padding-y: 15px;

  ul.posts-list {
    @include clearfix();
    list-style: none;
    padding: 0;
    margin: 0;

    .post-box-outer {
      display: block;
      float: left;
      margin-bottom: 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      &.post-box-0 { width: $post-width; }
      &.post-box-1, &.post-box-2, &.post-box-odd, &.post-box-even { width: ($post-width / 2) - 10px; }
      &.post-box-1, &.post-box-odd { margin-right: 20px; }
    }

    a.post-box {
      text-decoration: none;
      position: relative;
      display: block;
      vertical-align: top;
      height: $post-height;
      overflow: hidden;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      &:hover, &:active {
        .post-separator {
          @include background(linear-gradient(left, rgba($color-prim, 0.7) 0%, rgba($color-prim, 0.7) 80%, rgba($color-prim, 0) 100%));
        }
      }
      &:active {
        .post-title { padding-top: 1px; }
        .post-separator { margin-bottom: -1px; }
      }
    }

    .post-box-inner {
      height: $post-height - $post-padding-y * 2;
      overflow: hidden;
    }

    .post-date {
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 12px;
      font-weight: 300;
      color: white(0.8);
      @include letterpress-black(0.7);
      font-family: $font-monospaced;
      display: none;
    }

    .post-title {
      vertical-align: top;
      overflow: hidden;
      color: white(0.8);
      font-size: 20px;
      font-weight: 400;
      @include letterpress-black(0.8);
      letter-spacing: 1px;
      padding-bottom: 5px;
    }

    .post-separator {
      width: 100%;
      height: 1px;
      @include background(linear-gradient(left, rgba($color-prim, 0.5) 0%, rgba($color-prim, 0.5) 80%, rgba($color-prim, 0) 100%));
    }

    .post-excerpt {
      line-height: 22px;
      color: rgb(164, 164, 164);
      p { margin: 8px 0; }
    }
  }
}

.archives, .search-results, .related-posts {
  .posts-list {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    position: relative;

    &:before {
      position: absolute;
      top: -10%;
      left: 90px;
      width: 1px;
      height: 120%;
      display: block;
      @include background(linear-gradient(rgba($color-prim, 0.0) 0%, rgba($color-prim, 0.3) 10%, rgba($color-prim, 0.3) 90%, rgba($color-prim, 0.0) 100%));
      content: "";
    }
  }

  a.post-line {
    padding: 10px 0 15px;
    text-decoration: none;
    display: block;
    position: relative;
    &:hover {
      &:before {
        content: "";
      }
    }
    &:active {
      margin-top: 1px;
      margin-bottom: -1px;
      &:before {
        @include box-shadow(0 0 10px white(0.8));
      }
    }
    &:before {
      content: none;
      position: absolute;
      top: 15px;
      left: 86px;
      width: 9px;
      height: 9px;
      @include border-radius(5px);
      background-color: #282f38;
    }
  }

  .archive-date {
    font-size: 12px;
    font-family: $font-monospaced;
    display: inline-block;
    color: rgba($color-sec, 0.6);
    padding-right: 27px;
    margin-right: 27px;
    margin-top: 3px;
    vertical-align: top;
    @include letterpress(0.3);
  }

  .post-title {
    width: 400px;
    letter-spacing: 1px;
    @include letterpress-black(0.8);
    overflow: hidden;
    white-space: nowrap;
    color: white(0.8);
    font-weight: 400;
    display: inline-block;
  }
}
