// Sidebar styles.

#beta {
  min-height: 600px;

  h3 {
    color: black(0.5);
    @include letterpress(0.5);
    font-family: $font-titles;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 300;
    &.title-additional {
      @include letterpress(0.2);
    }
  }

  .title-separator {
    height: 15px;
    top: 1px;
    margin: 0 5px;
  }
}

// Spine fade-in animation.
#beta {
  .section-title-animated {
    position: relative;
    display: block;
    float: left;

    .title-separator, .title-additional {
      @include transition-property(opacity left top);
      @include transition-duration(0.3s, 0.3s, 0.3s);
      @include transition-timing-function(linear, linear, linear);
      @include opacity(0);
      position: absolute;
    }
    .title-separator {
      top: 20px;
    }
    .title-additional {
      padding-left: 20px;
      left: 80px;
    }
  }

  .section-title {
    @include clearfix();
    cursor: pointer;
    display: block;

    .title-main {
      float: left;
      display: block;
      width: 100px;
    }

    &:hover, &.active {
      .section-title-animated {
        .title-separator, .title-additional {
          @include opacity(1);
        }
        .title-separator { top: 5px; }
        .title-additional { left: 0; }
      }
    }
    &.active {
      .title-separator, .title-additional {
        @include transition-duration(0, 0, 0);
      }
    }
    &:active {
      padding-top: 1px;
      margin-bottom: -1px;
    }
  }
}

@mixin social-icon-content-color($name, $content, $color) {
  a.#{$name} {
    &:before { content: $content; }
    &:hover, &:active {
      color: rgba($color, 0.8);
      span { color: rgba($color, 0.8); }
    }
    &:active {
      color: rgba($color, 0.6);
      span { color: rgba($color, 0.6); }
      top: 1px;
    }
  }
}

#beta {
  .social-list {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;

    .social-icon {
      margin: 0 0 8px;

      a {
        color: black(0.7);
        @include transition(color 0.2s linear);
        @include letterpress-black(0.4);
        text-decoration: none;
        position: relative;
        &:before {
          font: 130%/1.35 zocial;
          font-style: normal;
          font-weight: normal;
          display: inline-block;
        }
        span {
          color: black(0.6);
          @include transition(color 0.2s linear);
          display: block;
          text-align: center;
          position: absolute;
          text-transform: lowercase;
          top: -2px;
          left: 0;
          padding-left: 60px;
        }
      }
      @include social-icon-content-color("twitter", "T", $color-twitter);
      @include social-icon-content-color("googleplus", "+", $color-googleplus);
      @include social-icon-content-color("linkedin", "L", $color-linkedin);
      @include social-icon-content-color("quora", "q", $color-quora);
      @include social-icon-content-color("github", "\00E8", $color-github);
    }
  }
}

#beta {
  #rss {
    text-decoration: none;
    color: black(0.8);
    &:before {
      font: 110%/1.35 zocial;
      font-style: normal;
      font-weight: normal;
      content: "R";
    }

    span {
      position: relative;
      left: 0;
      @include opacity(0);
      @include transition-property(opacity left);
      @include transition-duration(0.2s, 0.2s);
      @include transition-timing-function(linear, linear);
    }
    &:hover {
      color: rgba($color-rss, 0.8);
      span {
        left: 40px;
        @include opacity(1);
      }
    }
    &:active {
      color: rgba($color-rss, 0.6);
      top: 1px;
    }
  }
}

#beta {
  #search-form {
    width: 260px;
  }
  #searchform {
    position: relative;

    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  #search {
    background: black(0.2);
    @include border-radius(15px);
    width: 100%;
    border: none;
    color: #eee;
    outline: none;
    padding: 5px 5px 5px 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    @include text-shadow(0 1px 2px black(0.4));

    @include box-shadow(inset 0 0 5px black(0.1), 0 1px 0 white(0.5), inset 0 1px 2px black(0.3), 0 0 40px rgba($color-sec, 0.3));
    @include transition(all 0.1s linear);
    &:focus {
      background: white(0.3);
      @include box-shadow(inset 0 0 5px black(0.2), 0 1px 0 white(0.7), inset 0 1px 2px black(0.4), 0 0 40px rgba($color-sec, 0.4));
    }
  }

  #search-label {
    background: transparent url(../images/search.png) no-repeat top left;
    cursor: pointer;
    display: inline-block;
    text-indent: -99999px;
    width: 16px;
    margin: 0 10px;
    position: absolute;
    left: 0;
    top: 5px;
  }

  #search-info {
    color: black(0.8);
    margin: 5px 0 0;
    padding-left: 35px;
  }
}
