// Spine styles.

$spine-spacer-height: 10px;
$spine-marker-height: 13px;
$spine-dot-height: 7px;
$spine-content-padding: 50px;
$spine-padding: 60px;

.spine-section {
  position: relative;
  padding-left: $spine-content-padding;
}

.spine-left {
  border-left: 1px solid black(0.6);
}

@for $i from 1 through 10 {
  .spine-spacer-#{$i*10} {
    @extend .spine-left;
    width: 100%;
    height: $spine-spacer-height * $i;
  }
}

.spine-dot {
  @extend .spine-left;
  position: relative;
  &:after {
    position: absolute;
    top: 10px;
    left: floor(-$spine-dot-height / 2);
    display: block;
    width: $spine-dot-height;
    height: $spine-dot-height;
    background-color: black(0.8);
    @include border-radius(5px);
    content: "";
    @include box-shadow(0 0 2px white(0.4));
  }
}

.spine-extrude {
  position: relative;
  &:after {
    width: 100%;
    height: 1px;
    @include background(linear-gradient(left, black(0.6) 0%, black(0.4) 60%, black(0.0) 100%));
    content: "";
    display: block;
    position: absolute;
    top: 65px + 1px;
    left: 0;
  }
}

.spine-extrude-diagonal {
  position: relative;
  &:before {
    width: 85px;
    height: 85px;
    border-top: 1px solid black(0.6);
    @include rotate(45deg);
    content: "";
    display: block;
    position: absolute;
    top: 47px;
    left: -42px;
  }
  &:after {
    width: 1px;
    height: 30px;
    content: "";
    display: block;
    position: absolute;
    top: 104px + 7 * 48px;
    left: 60px;
    @include background(linear-gradient(black(0.6) 0%, black(0.0) 100%));
  }
}

.spine-content {
  padding-top: 50px;
  padding-left: $spine-padding;
}

.spine-title {
  &:before, &:after {
    position: absolute;
    height: 4px;
    left: 0;
    border-left: 1px solid black(0.6);
    content: "";
    display: block;
  }
  &:before {
    top: 0;
    height: 5px;
  }
  &:after { top: $spine-marker-height + 5px; }

  .spine-marker {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: -6px;
    width: $spine-marker-height;
    height: $spine-marker-height;
    border: 2px solid black(0.6);
    @include border-radius(floor($spine-marker-height / 2));
    content: "";
    display: block;
    color: black(1);
    @include box-shadow(0 0 10px white(0.8));
  }
}

.spine-tail {
  position: relative;
  border: none;

  &:after {
    width: 1px;
    height: 100%;
    @include background(linear-gradient(white(0.6) 0%, white(0.4) 60%, white(0.0) 100%));
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin spine-interaction($color) {
  .title-separator {
    @include background(linear-gradient(
      rgba($color, 0) 0%,
      rgba($color, 0.7) 30%,
      rgba($color, 0.7) 70%,
      rgba($color, 0) 100%))
  }
  &:active {
    .spine-marker {
      background: rgba($color, 0.9);
      @include box-shadow(0 0 10px rgba($color, 0.8));
    }
  }
  &:hover, &.active {
    .spine-marker {
      background: rgba($color, 0.7);
    }
  }
}

// Spine section colors.
.section-title {
  .spine-home & { @include spine-interaction($color-home); }
  .spine-articles & { @include spine-interaction($color-articles); }
  .spine-archives & { @include spine-interaction($color-archives); }
  .spine-about & { @include spine-interaction($color-about); }
}
